@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  width: 12rem;
  background-color: #95e1d3;
}
nav::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

/* Track */
nav::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 99px;
  margin: 2px;
}

/* Handle */
nav::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 99px;
  height: 20px;
}

/* Handle on hover */
nav::-webkit-scrollbar-thumb:hover {
  background: #eee;
  box-shadow: 0px 0px 5px #666666;
}

.top-nav {
  margin: 4rem;
  margin-left: 18rem;
  margin-right: 6rem;
  display: flex;
  justify-content: space-between;
}

.top-nav > .page-title {
  border: #666666 solid 2px;
  border-radius: 42px 0 84px 42px;
  padding: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  max-height: max-content;
}

.side-nav > li {
  list-style: none;
  border-radius: 16px 0 0 16px;

  margin-left: 1rem;
  padding-left: 1rem;
  height: 3rem;
}

.side-nav > li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 800;
}

.side-nav > .active,
.side-nav > li:not(:first-child):hover,
.side-nav > li:not(:first-child):focus {
  background-color: white;
  cursor: pointer;
  color: black;
}

.side-nav > li:first-child {
  height: 18rem;
  display: flex;
  align-items: center;
  margin-left: 0;
  padding-left: 0;
}

.side-nav > li:last-child {
  margin-top: auto;
}

.side-nav > li:last-child:hover {
  filter: invert(1);
}

/* .side-nav .active {
  background-color: white;
  cursor: pointer;
  color: black;
} */

.account-preview-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.account-preview-container input {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
}

.profile-img-circular {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  object-fit: contain;

  margin-bottom: 28px;
}
