.alert-box {
  position: fixed;
  right: 0;
  top: 0;
  min-width: 3rem;
  height: auto;

  margin: 3rem;

  border: #666666 solid 1px;
  border-radius: 0 0 0 42px;
  padding: 1.5rem;
  padding-left: 2rem;
  padding-right: 2.5rem;
}
