.message-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 26px;
    margin-right: 5%;
    margin-left: 20%;
  }
  
  .message-list {
    text-align: center;
  }
  
  .message-list > .level-seperator {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .message-list > .level-seperator > div {
    width: max-content;
    text-align: center;
    border-bottom: #a5a5a5 4px solid;
    padding: 1rem;
  }
  
  .message-item > .message-detail {
    width: 80%;
    height: fit-content;
    min-height: 150px;
  
    margin-top: 16px;
    padding: 22px;
    padding-right: 28px;
    padding-left: 28px;
    align-self: flex-start;
  
    border-radius: 16px 16px 16px 16px;
    border: #dddddd solid 2px;
    text-align: start;
  
    transition: background-color 0.2s;
  }
  
  .message-item > .message-detail > .message-heading {
    font-size: large;
    font-weight: bold;
  }
  
  .message-item > .message-detail > .body-container {
    height: max-content;
    padding: 12px;
    margin-top: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }
  .message-item > .message-detail > .body-container > .body {
    width: 100%;
  
    text-align: justify;
    text-justify: auto;
  
    margin-bottom: 8px;
  }
  
  .message-item > .message-detail > .body-container > .data-label {
    height: min-content;
    margin-top: 22px;
    margin-right: auto;
  }
  .message-item > .message-detail > .body-container > .data-label {
    font-size: small;
    width: 70%;
  }
  
  .message-item > .message-detail > .body-container > .data-label > .data {
    border-radius: 8px;
    padding: 4px;
    margin-right: 2rem;
    padding-right: 8px;
    padding-left: 8px;
    background-color: #95e1d3;
    font-weight: 600;
  }
  
  .message-item .highlight {
    border: unset;
    background-color: #95e1d3;
    align-self: flex-end;
    width: 80%;
  }
  
  .message-item > .message-detail:hover > .body-container > .data-label > .data {
    border: unset;
    background-color: #fff;
  }
  .message-item > .message-detail > .body-container > .message-student-btn {
    padding: 12px;
    margin-left: auto;
  
    border-radius: 10px 10px 10px 10px;
    border: unset;
    font-size: medium;
    font-weight: bold;
    background-color: white;
    box-shadow: 0px 0px 2px rgba(128, 128, 0, 0.493);
  
    cursor: pointer;
  }
  
  .message-item
    > .message-detail:hover
    > .body-container
    > .message-student-btn:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 6px rgba(128, 128, 0, 0.493);
  }