.reading-materials-list {
  margin-left: 12rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.reading-materials-list > h3 {
  width: max-content;
  text-align: center;
  border-bottom: #aaa 2px solid;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

.reading-material-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 26px;
  margin-right: 20%;
  margin-left: 20%;
  cursor: pointer;
}

.details {
  width: 100%;
  height: fit-content;
  min-height: 150px;

  margin-top: 16px;
  padding: 22px;
  padding-right: 28px;
  padding-left: 28px;

  border-radius: 16px 16px 16px 16px;
  border: #dddddd solid 2px;
  text-align: start;

  transition: background-color 0.2s;
}

.details > .heading {
  margin-top: unset;
}
